{{!-- navbar --}}
<nav class="navbar navbar-expand-lg bg-light d-flex justify-content-center align-items-center">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../images/navLogoCom.png" alt=""
                style="max-height: 150px; max-width: 150px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/biz/showworkers">Show All Workers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/biz/worker/otp">Punch In OTP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/biz/worker/addnew">Add New Worker</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container container-fluid col">
    <form action="/biz/worker/addnew" method="POST">
        <br>
        <h1 class="text-center" style="color:#3B4856">New Worker</h1>
        <br>

        <!-- Enter Username -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" name="username" class="form-control" placeholder="&#xf040   Username"
                        aria-label="Username">
                </p>
            </div>
        </div>

        <!-- Enter Email -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="email" name="email" class="form-control" placeholder="&#xf003   Email"
                        aria-label="Email">
                </p>
            </div>
        </div>

        <!-- Enter Password -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="password" name="password" class="form-control" placeholder="&#xf023   ********"
                        aria-label="password">
                </p>
            </div>
        </div>

        <!-- Enter Department (option select)-->
        <div class="container">
            <div class="select-box">
                <div class="options-container">
                    <div class="option">
                        <input type="radio" class="radio" id="waiter" name="department" />
                        <label for="waiter">Waiter</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="cook" name="department" />
                        <label for="cook">Cook</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="cleaner" name="department" />
                        <label for="cleaner">Cleaner</label>
                    </div>
                </div>

                <div class="selected">
                    Select Department
                </div>
            </div>
        </div>

        <!-- Title -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" name="title" class="form-control" placeholder="&#xf06d   Title"
                        aria-label="text">
                </p>
            </div>
        </div>
        {{!-- Salaries --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" name="salary" class="form-control" placeholder="&#xf155   Hourly Rate"
                        aria-label="text">
                </p>
            </div>
        </div>

        {{!-- fName --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" name="fname" class="form-control" placeholder="&#xf040   Firstname"
                        aria-label="text">
                </p>
            </div>
        </div>

        {{!-- lName --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" name="lname" class="form-control" placeholder="&#xf040   Lastname"
                        aria-label="text">
                </p>
            </div>
        </div>

        {{!-- alias --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" name="alias" class="form-control" placeholder="&#xf040   Alias"
                        aria-label="text">
                </p>
            </div>
        </div>

        {{!-- phone_number --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" name="phoneNumber" class="form-control" placeholder="&#xf098   Phone_number"
                        aria-label="text">
                </p>
            </div>
        </div>

        {{!-- address --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" name="address" class="form-control" placeholder="&#xf124   Address"
                        aria-label="text">
                </p>
            </div>
        </div>

        {{!-- gender --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" name="gender" class="form-control" placeholder="&#xf183   Gender"
                        aria-label="text">
                </p>
            </div>
        </div>

        {{!-- date_of_brith --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" name="dateOfBirth" class="form-control" placeholder="&#xf073   Date of birth"
                        aria-label="text">
                    {{!-- <input name="old_in_date" type="date" class="form-control" id="inputDate"
                        placeholder="name@example.com"> for further improvements--}}
                </p>
            </div>
        </div>

        {{!-- image --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" name="image" class="form-control" placeholder="&#xf007   Image"
                        aria-label="text">
                </p>
            </div>
        </div>
        <br>
        <!--Submit Btn-->
        <button type="submit" id="submit-new-worker" class="btn btn-ml text-light" style="background-color:#205072"><i
                class="fa-solid fa-circle-right"></i> &nbsp;&nbsp; Submit</button>

        <br><br>
        <!--Login Btn-->
        <button type="button" class="btn btn-ml text-light" style="background-color:#205072"> <i class="fa-solid fa-unlock-keyhole"></i> &nbsp;&nbsp; Login</button>
        <br>
    </form>
</div>
<br><br>
<script>
    var selectedValues = $('.options-container').val();
    $(".options-container").change(function () {
        console.log("selectedValues:", selectedValues)
    })
    const selected = document.querySelector(".selected");
    const optionsContainer = document.querySelector(".options-container");

    const optionsList = document.querySelectorAll(".option");

    selected.addEventListener("click", () => {
        optionsContainer.classList.toggle("active");
    });

    optionsList.forEach(o => {
        o.addEventListener("click", () => {
            selected.innerHTML = o.querySelector("label").innerHTML;
            optionsContainer.classList.remove("active");
        });
    });
</script>