<div class="container container-fluid col">
    <form>
        <br>
        <h1 class="text-center">Type in 4-digit password</h1>
        <br>
        <!-- Enter OTP -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" id="otp" class="form-control" name="otp" placeholder="&#xf127   4-digit password" aria-label="OTP">
                    <!--Submit Btn-->
                    <button type="submit" id="submit-otp" class="btn btn-primary btn-sm"><i class="fa-solid fa-circle-right fa-2xl"></i></button>
                    <br>
                </p>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){
        $("form").submit(function(e){
            e.preventDefault();
            console.log($('input[name=otp]').val())
            axios.post("/biz/worker/otp/1",{ //dummy id:1
                otp:$('input[name=otp]').val(),
            });
        })
    })
</script>