<div class="container container-fluid col">
    <form action="/biz/worker/addnew" method="POST">
        <br>
        <h1 class="text-center">New Worker</h1>
        <br>

        <!-- Enter Email -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="email" name="username" class="form-control" placeholder="&#xf003   Email" aria-label="Email">
                </p>
            </div>
        </div>

        <!-- Enter Password -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="password" name="password" class="form-control" placeholder="&#xf023   ********" aria-label="password">
                </p>
            </div>
        </div>

        <!-- Enter Department (option select)-->
        <div class="container">
            <h2>Department Category</h2>
            <div class="select-box">
                <div class="options-container">
                <div class="option">
                    <input
                    type="radio"
                    class="radio"
                    id="automobiles"
                    name="category"
                    />
                    <label for="automobiles">Automobiles</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="film" name="category" />
                    <label for="film">Film & Animation</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="science" name="category" />
                    <label for="science">Science & Technology</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="art" name="category" />
                    <label for="art">Art</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="music" name="category" />
                    <label for="music">Music</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="travel" name="category" />
                    <label for="travel">Travel & Events</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="sports" name="category" />
                    <label for="sports">Sports</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="news" name="category" />
                    <label for="news">News & Politics</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="tutorials" name="category" />
                    <label for="tutorials">Tutorials</label>
                </div>
                </div>

                <div class="selected">
                Select Video Category
                </div>
            </div>
        </div>

        <!-- Title -->

        {{!-- Salaries --}}

        {{!-- fName --}}

        {{!-- lName --}}

        {{!-- alias --}}

        {{!-- Varchar --}}

        {{!-- phone_number --}}

        {{!-- address --}}

        {{!-- gender --}}

        {{!-- date_of_brith --}}

        {{!-- image --}}

        <!--Submit Btn-->
        <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-circle-right fa-2xl" type="submit"></i></button>
        <br>
        <br>

        <!--Login Btn-->
        <button type="button" class="btn btn-primary btn-sm">Login</button>
        <br>
    </form>
</div>