<section id="demos">
    <div class="section-content">
        <div class="log-content">
            <div class="--noshadow" id="evoCalendar"></div>
        </div>
        <br>
        <div class="action-buttons d-flex justify-content-center align-items-center">
            <button type="button" class="editBtn btn btn-action" id="addBtn">ADD EVENT</button>
            <button type="button" class="deleteBtn btn-action" id="removeBtn" disabled>REMOVE EVENT</button>
        </div>
    </div>
</section>

{{!-- <script>
    $("editBtn").on("click"){
        <div class="card">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    }
</script> --}}