<div class="container container-fluid col">
    <form action="/biz/worker/addnew" method="POST">
        <br>
        <h1 class="text-center">New Worker</h1>
        <br>

        <!-- Enter Email -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="email" name="username" class="form-control" placeholder="&#xf003   Email" aria-label="Email">
                </p>
            </div>
        </div>

        <!-- Enter Password -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="password" name="password" class="form-control" placeholder="&#xf023   ********" aria-label="password">
                </p>
            </div>
        </div>

        <!-- Enter Department (option select)-->
        <div class="container">
            <div class="select-box">
                <div class="options-container">
                    <div class="option">
                        <input type="radio" class="radio" id="film" name="category" />
                        <label for="film">Waiter</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="science" name="category" />
                        <label for="science">Cook</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="art" name="category" />
                        <label for="art">Cleaner</label>
                    </div>
                </div>

                <div class="selected">
                Select Department
                </div>
            </div>
        </div>

        <!-- Title -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text"  class="form-control" placeholder="&#xf003   Title" aria-label="text">
                </p>
            </div>
        </div>
        {{!-- Salaries --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text"  class="form-control" placeholder="&#xf003   Salary" aria-label="text">
                </p>
            </div>
        </div>

        {{!-- fName --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text"  class="form-control" placeholder="&#xf003   Firstname" aria-label="text">
                </p>
            </div>
        </div>

        {{!-- lName --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text"  class="form-control" placeholder="&#xf003   Lastname" aria-label="text">
                </p>
            </div>
        </div>

        {{!-- alias --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text"  class="form-control" placeholder="&#xf003   Alias" aria-label="text">
                </p>
            </div>
        </div>

        {{!-- Varchar --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text"  class="form-control" placeholder="&#xf003   Varchar" aria-label="text">
                </p>
            </div>
        </div>

        {{!-- phone_number --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text"  class="form-control" placeholder="&#xf003   Phone_number" aria-label="text">
                </p>
            </div>
        </div>

        {{!-- address --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text"  class="form-control" placeholder="&#xf003   Address" aria-label="text">
                </p>
            </div>
        </div>

        {{!-- gender --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text"  class="form-control" placeholder="&#xf003   Gender" aria-label="text">
                </p>
            </div>
        </div>

        {{!-- date_of_brith --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text"  class="form-control" placeholder="&#xf003   Date of birth" aria-label="text">
                </p>
            </div>
        </div>

        {{!-- image --}}
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text"  class="form-control" placeholder="&#xf003   Image" aria-label="text">
                </p>
            </div>
        </div>

        <!--Submit Btn-->
        <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-circle-right fa-2xl" type="submit"></i></button>
        <br>
        <br>

        <!--Login Btn-->
        <button type="button" class="btn btn-primary btn-sm">Login</button>
        <br>
    </form>
</div>