<div class="container container-fluid col">
    <form action="/biz/worker/:id/:otp" method="POST">
        <br>
        <h1 class="text-center">Type in 4-digit password</h1>
        <br>
        <!-- Enter OTP -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="text" class="form-control" name="otp" placeholder="&#xf127   4-digit password" aria-label="OTP">
                </p>
            </div>
        </div>
    </form>
</div>