{{!-- nav bar --}}
<section>
    <nav class="navbar bg-light d-flex justify-content-center align-items-center fixed-top">
        <div class="container-fluid">
            <a href=""><i class="fa-solid fa-chevron-left fa-xl"></i></a>
            <p class="position-absolute top-50 start-50 translate-middle">Employee Information</p>
        </div>
    </nav>
    <br>

    <!--Each employee information-->
    <div class='row' id="eachEm">
        <div>
            <div class="text-center">
                <img src="{{image}}" style="max-width:250px; border-radius: 50%;">
                <br>
                <h1 id="aliasCompany"> name: </h1>
                <br>
                <h2 id="titleCompany" class="text-secondary">title: </h2>
                <br>
                <button class="btn" id="editInfoBtnCom">
                    <i class="fa-solid fa-user-pen fa-xl"></i>
                </button>
                <br>
            </div>
            <hr> <br>

            <p id="staffNoCompany"> Staff no.: </p>

            <p id="nameCompany"> Name: </p>

            <p id="hourlyrateCompany"> Hourly rate: </p>

            <p id="active_statusCompany"> Active status: </p>

            <p id="phoneNoCompany">Phone no.: </p>

            <p id="addressCompany">Address: </p>

            <p id="dateOfBirthCompanye">Date of birth: </p>

            <p id="genderCompany">Gender: </p>

        </div>

        <hr>

    </div>

    {{!-- edit employee information form --}}
    <style>
        .hide {
            position: absolute;
            top: -1px;
            left: -1px;
            width: 1px;
            height: 1px;
        }
    </style>

    <iframe name="hiddenFrame" class="hide"></iframe>

    <form id="formPost" method="post" target="hiddenFrame">

        <div class="card" id="editForm" style="visibility: hidden; border:black;">
            <hr>
            <div class="mb-3">
                <label for="editTitle" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="editTitle">
            </div>
            <div class="mb-3">
                <label for="editHourlyRate" class="form-label">Hourly rate</label>
                <input type="number" name="hourly_rate" class="form-control" id="editHourlyRate">
            </div>
            <div class="mb-3">
                <label for="editActiveStatus" class="form-label">Active status</label>
                <input type="text" name="active_status" class="form-control" id="editActiveStatus">
            </div>
            <div class="mb-3">
                <label for="editPhoneNo" class="form-label">Phone number</label>
                <input type="tel" name="phone_number" class="form-control" id="editPhoneNo">
            </div>
            <div class="mb-3">
                <label for="editAddress" class="form-label">Address</label>
                <textarea class="form-control" name="address" id="editAddress" rows="3"></textarea>
            </div>
            <button type="submit" class="btn bg-light" id="submitInfoBtnCom"> <i class="fa-regular fa-circle-check"></i>
                Submit
            </button>
            <br> <br>
        </div>
    </form>
</section>


{{!-- for edit calendar --}}
<script>
    document.getElementById("editInfoBtnCom").onclick = function () {
        document.getElementById("editForm").style.visibility = "visible";
    }

    document.getElementById("submitInfoBtnCom").onclick = function () {
        var editForm = document.getElementById("editForm");
        editForm.style.visibility = "hidden";
    }
</script>



<script>

    let id;

    id = window.location.href.split('/worker')[1].split('/')[1];

    $(document).ready(function () {
        $("#formPost").attr("action", `/biz/worker/${id}/info/update`);
    })


    $.ajax({
        type: "GET",
        url: `http://localhost:8000/biz/worker/${id}/info/api`,
        async: true,
        success: function (result) {
            //show employee information
            $("#aliasCompany").append(result.alias);
            $("#titleCompany").append(result.title);
            $("#staffNoCompany").append(result.employee_id);
            $("#nameCompany").append(result.last_name + " " + result.first_name);
            $("#hourlyrateCompany").append(result.hourly_rate + "/h");
            $("#active_statusCompany").append(result.active_status);
            $("#phoneNoCompany").append(result.phone_number);
            $("#addressCompany").append(result.address);
            $("#dateOfBirthCompanye").append(result.date_of_birth);
            $("#genderCompany").append(result.gender);


            //show update form value
            $("#editTitle").val(result.title);
            $("#editHourlyRate").val(result.hourly_rate);
            $("#editPhoneNo").val(result.phone_number);
            $("#editAddress").val(result.address);
            $("#editActiveStatus").val(result.active_status);
        }
    })
</script>