<div class="container container-fluid col">
    <form action="/company_login" method="POST">
        <br>
        <h1 class="text-center">Login</h1>
        <br>

        <!-- Enter Email -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="email" class="form-control" name="email" placeholder="&#xf003   Email" aria-label="Email">
                </p>
            </div>
        </div>

        <!-- Enter Password -->
        <div class="row">
            <div class="col">
                <p class="wrapper">
                    <input type="password" class="form-control" name="password" placeholder="&#xf023   ********" aria-label="password">
                </p>
            </div>
        </div>

        <!--Submit Btn-->
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-circle-right fa-2xl" type="submit"></i></button>
        <br>
    </form>
</div>