<div class="container container-fluid col">
    <br>
    <h1 class="text-center">Register</h1>
    <br>

    <!-- Enter Username -->
    <div class="row">
        <div class="col">
            <p class="wrapper">
                <input type="text" class="form-control" placeholder="&#xf406  Username" aria-label="Email">
            </p>
        </div>
    </div>

    <!-- Enter Email -->
    <div class="row">
        <div class="col">
            <p class="wrapper">
                <input type="email" class="form-control" placeholder="&#xf003   Email" aria-label="Email">
            </p>
        </div>
    </div>

    <!-- Enter Password -->
    <div class="row">
        <div class="col">
            <p class="wrapper">
                <input type="password" class="form-control" placeholder="&#xf023   ********" aria-label="password">
            </p>
        </div>
    </div>

    {{!-- placeholder font awesome code: https://www.w3schools.com/icons/icons_reference.asp --}}

    <!--Enter Btn-->
    <a href=""><i class="fa-solid fa-circle-check fa-2xl"></i></a>
    <br>
    <br>

    <!--Login Btn-->
    <button type="button" class="btn btn-primary btn-sm">Login</button>
    <br>


</div>