{{!-- link to calendar css to change theme --}}

<head>
    <link rel="stylesheet" type="text/css" href="../library/calendar/evo-calendar.midnight-blue.min.css">
</head>



{{!-- body --}}
<section id="demos">
    <div class="section-contenat">
        <div class="log-content">
            <div class="--noshadow" id="evoCalendar"></div>
        </div>
        <br>
    </div>
</section>



{{!-- link to company calendar setting js --}}
<script src="../calendar_setting.js"></script>