{{!-- navbar --}}
<nav class="navbar navbar-expand-lg bg-light d-flex justify-content-center align-items-center">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../images/navLogoEm.png" alt=""
        style="max-height: 150px; max-width: 150px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Punch </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employee/calendar"> Calendar </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employee/info">Personal Information</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> --}}
      </ul>
    </div>
  </div>
</nav>
<br>



{{!-- punch in out card --}}
<div class="d-flex justify-content-center align-items-center">

  <div class="card text-center" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title">Summary</h5>
      <h6 class="card-subtitle mb-2 text-muted">Welcome back!</h6>
      <hr>

      <div class='row'>
        {{!-- {{#each }} --}}

        <br>
        <p id="employee_punch_workingHours" class="card-text"> Working Hours: </p>
        {{!-- <h3 class="card-text"> {{working_hours}} </h3> --}}

        <p id="employee_punch_hourlyRate" class="card-text">Hourly Rate: </p>
        {{!-- <h3 class="card-text">{{hourly_rate}}</h3> --}}

        <p id="employee_punch_totalSalary" class="card-text">Total Salary: </p>
        {{!-- <h3 class="card-text">{{total_salary}}</h3> --}}

        <br>
        <br>

        {{!-- {{/each}} --}}
      </div>

      <hr>


      <button id="employee_punch_inBtn" type="submit" class="btn btn-ml"
        style="background-color:#d1cfdd; color:#322975; "><i class="fa-solid fa-arrow-right-to-bracket"></i> Punch
        In</button>
      <button id="employee_punch_outBtn" type="submit" class="btn btn-ml"
        style="background-color:#322975; color:#d1cfdd;">Punch Out <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>
  </div>
</div>

<br>

<div class="container container-fluid col d-flex justify-content-center align-items-center align-items-stretch">
  {{!-- alert for successful punchin --}}
  <div id="punchIn_alert" class="toast fade show" style="visibility: hidden;" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header">
      <i class="fa-solid fa-key"></i>
      {{!-- <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#007aff"></rect>
      </svg> --}}
      &nbsp;&nbsp;
      <strong class="me-auto">One Time Password</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{!-- <p id="punchInMessage">Punch In Time:</p> --}}
      <p id="punchInEmId">Employee ID:</p>
      <p id="punchInOTPW">One Time Passowrd:</p>

    </div>
  </div>
</div>

<br>

<div class="container container-fluid col d-flex justify-content-center align-items-center align-items-stretch">
  {{!-- alert for successful punchin --}}
  <div id="punchOut_alert" class="toast fade show" style="visibility: hidden;" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header">
      <i class="fa-solid fa-mug-saucer"></i>
      {{!-- <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#007aff"></rect>
      </svg> --}}
      &nbsp;&nbsp;
      <strong class="me-auto">Punch out successfully</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div id="punchOutMessage" class="toast-body">
      Punch Out Time:
    </div>
  </div>
</div>

<br>

{{!-- <div class="direction d-flex justify-content-center align-items-center ">
  <a href="/employee/calendar"><button class="btn btn-secondary btn-ml">Calendar</button></a>
  <a href="/employee/info"><button class="btn btn-secondary btn-ml">Personal Information</button></a>
</div> --}}

<script>
  const time = new Date();

  /*
  $("#punchInMessage").append(time.toLocaleString('en-us', { 
      hour: '2-digit', 
      minute: '2-digit',
      second: '2-digit',
      hour12: true 
    }))
    */

  $("#punchOutMessage").append(time.toLocaleString('en-us', {
    hour: '2-digit',
    minute: '2-digit',
    second: '2-digit',
    hour12: true
  }))
</script>







<!-- below announcement box can add later-->
<!--  announcement alert box 
<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>

<script>
    const toastTrigger = document.getElementById('liveToastBtn')
const toastLiveExample = document.getElementById('liveToast')
if (toastTrigger) {
  toastTrigger.addEventListener('click', () => {
    const toast = new bootstrap.Toast(toastLiveExample)

    toast.show()
  })
}
</script>
-->

<script src="../employee_punch.js"> </script>

<style>
  body {
    font-family: "Roboto", sans-serif;
    background: #ebebee6e;
  }
</style>