<section id="section-2" class="role-select">
    {{!-- employee --}}
    <br>
    <div class="container container-fluid col d-flex justify-content-center align-items-center">
        <div class="card container-fluid col d-flex justify-content-center align-items-center" style="width: 18rem;">
            <img src="./images/employee.jpg" class="card-img-top" alt="employee"
                style="max-height: 200px; max-width: 200px;">
            <div class="card-body">
                <a href="/employee_login">
                    <button type="button" class="btn btn-info">Employee </button>
                </a>
            </div>
        </div>
    </div>
    <br>

    {{!-- admin --}}
    <div class="container container-fluid col d-flex justify-content-center align-items-center">
        <div class="card container-fluid col d-flex justify-content-center align-items-center" style="width: 18rem;">
            <img src="./images/admin.jpg" class="card-img-top" alt="employee"
                style="max-height: 200px; max-width: 200px;">
            <div class="card-body">
                <a href="/company_login">
                    <button type="button" class="btn btn-warning">Admin</button>
                </a>
            </div>
        </div>
    </div>
</section>