<section id="section-1" class="section-logo">
    <div class="container container-fluid col d-flex justify-content-center align-items-center align-items-stretch">{{!--  class="container container-fluid col --}}
        <img src="./images/logo.jpg" alt="logo"> {{!-- class="position-absolute top-50 start-50 translate-middle" --}}
    </div>
</section>

<section id="section-2" class="role-select">
    <div class="container container-fluid col d-flex justify-content-center align-items-center align-items-stretch">
        <a href="/biz/login"><button type="button" class="btn btn-primary btn-ml">Company</button></a>
        <a href="/employee_login"><button type="button" class="btn btn-secondary btn-ml">Employee</button></a>
    </div>
</section>