<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>


<div class="position-absolute top-50 start-50 translate-middle">

    <div class="container container-fluid col d-flex justify-content-center align-items-center">
        <img src="../images/logoPic.png" class="animate__animated animate__backInDown" alt="logoPic"
            style="max-height: 200px; max-width: 200px;">
    </div>


    <div class="container container-fluid col d-flex justify-content-center align-items-center">
        <img src="../images/logoText.png" class="animate__animated animate__backInUp" alt="logoPic"
            style="min-height: 50px; min-width: 50px;">
    </div>

</div>

<style>
    body{
        background-color: rgb(231, 226, 220);
    }
</style>